<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이미지 분석</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>이미지 분석</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" id="imageUpload" accept="image/*" required>
        <button type="submit">이미지 분석 시작</button>
    </form>
	<div id="imagePreview"></div>
	
	<script>
        // 이미지 업로드 미리보기
        document.getElementById("imageUpload").addEventListener("change", function () {
            var fileInput = this;
            var imagePreview = document.getElementById("imagePreview");

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.innerHTML = '<img src="' + e.target.result + '" />';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        });
    </script>
</body>
</html>
